@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body{
  font-family: "Poppins", sans-serif;

}

li{
  font-weight:600;
  list-style-type: none;
}





#white-logo{
  filter: invert(1);
}

#social-icon{
  filter: invert(1);
}




body::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
}

/* Track (background of the scrollbar) */
body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light background for contrast */
  border-radius: 6px; /* Border radius for smoother corners */
}

/* Handle (the draggable part of the scrollbar) */
body::-webkit-scrollbar-thumb {
  background-color: #333; 
  border-radius: 6px; 
  height: 30%;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Slightly darker on hover for visual feedback */
}


.custom-scrollbar::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
  background-color: #333; 
  border-radius: 10px; 
  height: 80%; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.element {
  background-color: rgba(255, 255, 255, 0.5); /* Adds a semi-transparent background */
  backdrop-filter: blur(8px);
}

.custom-shadow{
  box-shadow: rgba(50, 50, 93, 0.116) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}